<div class="row m-0 p-0">
    <div class="col-12 d-flex justify-content-between align-items-center mt-3 pl-3 pr-3">
        <div>
            <h2>Agendas</h2>
        </div>
        <div>
            <button class="btn btn-dark" data-toggle="modal" data-target="#modalCadastrarAgenda">Cadastrar</button>
        </div>
    </div>
    <div class="col-12">
        <hr>
    </div>
</div>
<div class="row m-0 mr-3">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 m-0 p-0" *ngFor="let agenda of agendas">
        <app-agenda [agendaInput]="agenda"></app-agenda>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalCadastrarAgenda" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar sala</h5>
            </div>
            <form [formGroup]="formCadastrar" (submit)="cadastrarAgenda()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="nome" class="font-weight-bold">Nome :</label>
                                <input type="text" class="form-control" id="nome" aria-describedby="emailHelp"
                                    placeholder="Mín. 3 caracteres" formControlName="nome">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="descricao" class=" font-weight-bold">Descrição:</label>
                                <input type="text" class="form-control" id="descricao" aria-describedby="emailHelp"
                                    formControlName="descricao" placeholder="Mín. 3 caracteres">
                            </div>
                        </div>
                        <div class="col-12 form-group">
                            <label for="tipoAgendaId" class="font-weight-bold">Tipo de agenda:</label>
                            <select class="form-control" id="tipoAgendaId" formControlName="tipoAgendaId"
                                placeholder="Tipo de agenda">
                                <option value="" selected>Selecione</option>
                                <option *ngFor="let tipoAgenda of tiposAgenda" value={{tipoAgenda.tipoAgendaId}}>
                                    {{tipoAgenda.descricao}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal"
                        (click)="limparClassesErros()">Fechar</button>
                    <button type="submit" class="btn btn-primary" [disabled]="formCadastrar.invalid">Salvar</button>
                </div>
            </form>
        </div>
    </div>