<div class="row d-flex altura-max align-items-center d-flex justify-content-center m-0 p-0">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Acesso não autorizado!</h5>
                <p class="card-text">Por favor clique no botão para fazer login ou ir para a página inicial</p>
                <button [routerLink]="['']" class="btn btn-dark">Página inicial</button>
            </div>
        </div>
    </div>
</div>